strong.vb {
    color: $secondary-brand-color;
}

div.footnote {
    font-size: smaller;
    color: #888;
}

div.footnoteborder {
    width: 10em;
    border-top: 2px solid;
    border-color: $secondary-brand-color;
}

.patterned ul {
    color: whitesmoke;
}
